/* classnames */
.App {
  min-height: 100vh;
  text-align: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: auto;
  

  min-width: 1000px;
  max-width: auto;
  height: 200px;
  box-sizing: border-box;
  
  margin-left: auto;
  margin-right: auto;

  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.item {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  background: white;
  border: 2px solid black;
}

/* IDs */
#background{
  background: url("pictures/Blueprint.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#Title{
  background-color: #c2b280;
  transition-duration: 1s;
  align-items: center;
}

#Title:hover{
  background-color: #c2b280;
  color: black;
  font-size: calc(20px + 2vmin);
  align-items: center;
}