/* classnames */
.App {
  min-height: 100vh;
  text-align: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  font-size: calc(100px + 2vmin);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 550px 550px 550px ;
  grid-template-rows: 550px;
  
  min-width: 1000px;
  max-width: auto;
  height: 500px;
  box-sizing: border-box;

  margin: auto auto;

  display: flex;
  justify-content: center;
  
}

.item {
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  background: white;
  border: 2px solid black;
}

/* IDs */
#background{
  background: url("pictures/Blueprint.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#Title{
  background-color: #c2b280;
  transition-duration: 1s;
  align-items: center;
}

#Title:hover{
  background-color: #c2b280;
  color: black;
  font-size: calc(150px + 2vmin);
  align-items: center;
}