/* classnames */
.App {
  min-width: auto;
  min-height: 100vh;
  text-align: center;
  align-items: center;
}

.App-header {
  width: auto;
  align-items: center;
  font-size: calc(5px + 10vmin);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 90vmin 90vmin 90vmin;
  grid-template-rows: auto;

  height: 500px;
  box-sizing: border-box;

  margin: auto auto;

  display: flex;
  justify-content: center;
  
}

.item {
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  width: 30vmin;
  height: auto;
  background: white;
  border: 2px solid black;
  object-fit: scale-down;
}

/* IDs */
#background{
  justify-content: center;
  background: url("pictures/Blueprint.jpg");
  background-repeat: no-repeat;
  background-size: fill;
}

#Title{
  width: 100%;
  background-color: #c2b280;
  transition-duration: 1s;
  align-items: center;
  text-align: center;
}

#Title:hover{
  text-align: center;
  background-color: #c2b280;
  color: black;
  font-size: calc(5px + 15vmin);
  align-items: center;
}

/* tags */
img {
  height: 80%;
  width: 80%;
  object-fit: scale-down;
}